body {
    background-color: #e8f7ff;
    font-family: 'Comic Sans MS', 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: #fff;
    border: 5px solid #a6dcef;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 500px;
}

h1 {
    font-size: 24px;
    color: #569cd6;
    margin-bottom: 20px;
}

.file-input {
    display: block;
    margin: 20px auto;
    padding: 10px;
    border: 2px dashed #a6dcef;
    border-radius: 10px;
    width: 80%;
    background-color: #fff;
    color: #569cd6;
    text-align: center;
    font-size: 16px;
    outline: none;
    cursor: pointer;
}

.sort-button {
    background-color: #a6dcef;
    color: #569cd6;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
}

.sort-button:hover {
    transform: scale(1.1);
    background-color: #569cd6;
    color: #fff;
}

.output-box {
    display: block;
    margin: 20px auto;
    width: 90%;
    max-width: 450px;
    height: 200px;
    border: 2px solid #a6dcef;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    color: #333;
    background-color: #fff;
    resize: none;
}

output-box:focus {
    outline: none;
    border-color: #569cd6;
}
